
.fas{
    width: 1200px !important;
    height: 1200px !important;
}

.icon-profile{
    width: 120px !important;
}

.fas{
    width: 20px !important;
    height: 20px !important;
}
.far{
    width: 20px !important;
    height: 20px !important;
}


