

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  
    <div class="container-fluid">
      
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <H2 class="titleApp text-danger">MoviesDavid</H2>
        </a>
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Last Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Movies Alphabetically</a>
          </li>
        </ul>
        
      </div>
           
        

        <div class="iconprofile m-2">
            <a  (click)="dropPhoto=!dropPhoto"
            data-mdb-dropdown-init
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            
            id="navbarDropdownMenuAvatar"
            role="button"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="45"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
        </div>
        

        <div class="dropdownProfile" [hidden]="!dropPhoto">
          
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      
    
    
  </nav>
  