

@media screen and (min-height : 2080) and (max-height : 1080) {
    .dropdownProfile{
        position: absolute !important;
        top: 75px !important;
        right: 160px;
     }
     
     .dropdownNotification{
         position: absolute !important;
         top: 75px !important;
         right: 160px;
      }
}









.titleApp{
    color: red !important;
    font-family: ui-rounded !important;
}